/node_modules/
.env
/packages/*/coverage/*
/packages/*/genToken.ts
dist
packages\*\.env
packages\*\docker.env
/packages/api/verba-quest.json
secrets/*
packages/api/docker.env
packages/web-frontend/docker.env
packages/**/dist